html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: normal;
  text-align: center;
}
/*Tablas*/
.table-2{
	margin-bottom:35px;
	border-radius: 15px;
}

.table-2 table th {
    padding: 20px;
    color: #fff;
    font-size: 18px;
}

.table-2 table thead tr {
    border-radius: 0px 0px 0px 15px;
}


@media only screen and (max-width: 500px)
    {
        .table-2{
        	font-size:10px;
        }

        .table-2 table th {
		    padding: 5px 5px !important;
		    color: #fff;
		    font-size: 12px;
		}

		.table-2 tr td {
		    border-bottom: 1px solid #dcdcdc;
		    padding: 5px 5px !important;
		}

		#main {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}

		
    }


/*Tabla de resultados*/

.fusion-row h3 {
    margin-bottom: 10px !important;
}

table.wp_excel_cms_table {
    margin:auto;
        margin-top: 40px;
}

table.wp_excel_cms_table th {
    background-color: #FD4700;
	padding:5px;
	color:white;
	font-weight:bold;
}

table.wp_excel_cms_table td {
	padding:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: 1px solid;
}

table.wp_excel_cms_table tr:nth-child(even) {background-color: rgba(242, 242, 242, 0.81);}



@media screen and (max-width:650px)
    {
        .resultados-row .fusion-row {
            overflow-x: scroll !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
            font-size:10px !important;
        }

        table.wp_excel_cms_table th {
		    padding:5px;
			padding-top:0px;
			padding-bottom:0px;
		}

		table.wp_excel_cms_table td {
			padding:5px;
			padding-top:0px;
			padding-bottom:0px;
			border-bottom: 1px solid;
		}

		



    }
