body {
  color: black;
  background: white;
  font-family: sans-serif;
  padding-bottom: 20px;
  margin:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  background: url(http://retransmisio.escacs.cat/spin/body-bg.png) #E8EAEB;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

.header,
.header:link,
.header:visited,
.header:hover,
.header:active {
  color: red;
  text-decoration: none;
}

.beforeBoards {
  display: inline-block;
  text-align: right;
  margin-top: 5px;
  height: 5px;
  width: 100%;
  overflow: hidden;
}

.afterBoards {
  display: inline-block;
  text-align: right;
  height: 40px;
  width: 100%;
  overflow: hidden;
}

.menuLine {
  font-size: 12px;
  font-family: 'pgn4web Liberation Sans', sans-serif;
  line-height: 20px;
}

.menuLink {
  display: inline-block;
  width: 2em;
}

.commandLink:hover {
  text-transform: uppercase;
}

.hiddenFrame,
.visibleFrame {
  width: 256px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hiddenFrame {
  display: none;
}

.visibleFrame {
  display: inline;
}

.infoMessage {
  font-weight: bold;
  float: right;
}

/* Logo */
#logo {display: block;width: 296px;height: 41px;margin: 0;position: relative;z-index: 1000;
background: url(../logo.png) 0 0 no-repeat; float:left;
}
.logo-block {margin-bottom: 0;margin-top: 5px;}
.centered #logo {margin: 0 auto;}
#page-top {
background-color: #2F2F2D;
margin: 0px;
padding: 8px;
color:#AAA;
font-size: 3em;
height: 55px;
}
.botoTitol {
	float: left;
	margin-left: 1px;
	margin-top: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px 12px 6px 12px;
	cursor: pointer;
	background: #BABBBC;
	border-bottom: 1px solid #f0f0f0;
}
.textBoto {
	font-size: 11px;
	line-height: 16px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0;
	margin-right: 4px;
}
#barraTitol {
	height: 22px;
	margin-bottom: -7px;
	margin-top: -1px;
	background: url('http://escacs.cat/templates/rt_tachyon_j16/images/header/dark/header-bottom.png') 50% 100% repeat-x;
}

#containerFotos {
width:600px;
margin :200px auto;
}