<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Meta Data -->
    <title>Problema {{NUMERO}} de {{PAGE}} - {{TITLE1}}</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="🖥️ Problema resuelto de {{PAGE}} número {{NUMERO}} con título {{TITLE1}}. Descubre la solución al problema al igual que algunos casos de prueba o consejos en algunos problemas. ">
	<meta name="author" content="Isaac Lozano Osorio" />
    <link rel="shortcut icon" href="../../img/favicon.jpg" type="image/x-icon">
	<meta name="reply-to" content="i.loozano97@gmail.com">
	<link rev="made" href="mailto:i.loozano97@gmail.com">
	<meta name="robots" content="ALL">
	
	<link rel="alternate" href="https://isaaclo97.github.io/resources/codes/en/{{URL}}.html" hreflang="en" />
	<link rel="alternate" href="https://isaaclo97.github.io/resources/codes/{{URL}}.html" hreflang="es" />
	
	
	<meta property="og:url" content="https://isaaclo97.github.io/resources/codes/{{URL}}.html">
	<meta property="og:locale" content="es">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Problema {{NUMERO}} de {{PAGE}} - {{TITLE1}}">
	<meta property="og:description" content="🖥️ Problema resuelto de {{PAGE}} número {{NUMERO}} con título {{TITLE1}}. Descubre la solución al problema al igual que algunos casos de prueba o consejos en algunos problemas.">
	<meta property="article:publisher" content="https://www.facebook.com/isaac.lozanoosorio">
	<meta property="og:image" content="../../img/favicon.jpg">
	<meta property="article:modified_time" content="2021-02-11T18:33:24+00:00">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:creator" content="@isaac_lozano_97">
	<meta name="twitter:site" content="@isaac_lozano_97">

    <!-- Stlylesheet -->
	<link href="../../css/owl.carousel.css" rel='stylesheet' type='text/css' />
	<link href="../../css/cubeportfolio.min.css" rel='stylesheet' type='text/css' />
	<link href="../../css/simple-line-icons.css" rel='stylesheet' type='text/css' />
	<link href="../../css/ionicons.min.css" rel='stylesheet' type='text/css' />		
    <link href="../../css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="../../css/style1.css" rel='stylesheet' type='text/css' />	
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/prism.css" rel='stylesheet' type='text/css' />
	
	
    <!-- Skin Color -->
    <link rel="stylesheet" href="../../css/colors/red.css" id="color-skins" />
	
	<script src="../../js/translate.js"></script>
	
</head>

<body>
    <script src="../../js/prism.js"></script>

    <!--Start Header-->
    <header>
        <nav class="navbar navbar-default navbar-alt" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav  navbar-right">
                        <li><a href="../../index.html">Inicio</a></li>
                        <li class="to-section"><a href="../../index.html#data2">Proyectos</a></li>
                        <li class="to-section"><a href="../../index.html#portfolio">Tecnologías</a></li>
                        <li class="to-section"><a href="../../index.html#team">¿Quién soy?</a></li>
                        <li class="to-section"><a href="../../index.html#get-connected">Contacto</a></li>
                        <li class="to-section"><a href="../../blog.html">Blog</a></li>
						<li class="to-section"><a href="../../ajedrez.html">Ajedrez</a></li>
                        <li class="to-section"><a href="../../programacion.html">Programación Competitiva</a></li>
						<li class="to-section">
						<a href="#" onclick="translateWeb('es');return false;"  style="display: inline-block;" title="Español"><img src="../../img/es.png" height="24" width="24" alt="es"></a>
						<a href="#" onclick="translateWeb('en');return false;"  style="display: inline-block;" title="English"><img src="../../img/en.png" height="24" width="24" alt="en"></a>
						</li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!--End Header-->
  <section id="quote" class="parallax-section-4">
            <div class="container">
                <div class="row wow fadeInUp">

                    <div class="col-lg-12 wow fadeInUp" style="z-index:3">
                        <div id="quote-slider" class="owl-carousel">
                            <div>
                                <blockquote>
                                    <span>Programación Competitiva.</span>
                                </blockquote>
                                <h4 class="quote-author highlight">Isaac Lozano Osorio</h4>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Start Team Section -->
        <section id="team">
            <div class="container">

                <div class="col-md-12 text-center wow fadeInUp">
                    <h3 class="section-title">Solución al problema número {{NUMERO}} de {{PAGE}} - {{TITLE1}}.</h3>
					 <p class="subheading wow fadeInUp">Cualquier duda no dudes en contactar.</p>
                </div>
                <pre><code class="language-cpp">