

        <!-- Start Get Connected -->
        <section id="get-connected" class="parallax-section-6">
            <div class="container">

                <div class="col-md-12 text-center">
                    <h3 class="section-title white wow fadeInUp">No te pierdas nada.</h3>
                    <p class="subheading grey wow fadeInUp">Sigue en contacto con <span class="highlight">Isaac Lozano Osorio</span>!</p>
                </div>

                <div class="row text-center wow fadeInUp">
                    <ul class="connected-icons text-center">

                        <li class="connected-icon">
                            <a target="_blank" href="https://twitter.com/isaac_lozano_97">
                                <span class="icon icon-social-twitter size-6x"></span>
                                <h4 class="white">Twitter</h4>
                                <span class="grey">Sígueme</span>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="https://www.facebook.com/isaac.lozanoosorio">
                                <span class="icon icon-social-facebook size-6x"></span>
                                <h4 class="white">Facebook</h4>
                                <span class="grey">Sígueme</span>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="https://github.com/isaaclo97">
                                <span class="icon ion-social-octocat size-6x"></span>
                                <h4 class="white">GitHub</h4>
                                <span class="grey">¿Quieres ver mis proyectos?</span>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="mailto:i.loozano97@gmail.com">
                                <span class="icon icon-envelope-open size-6x"></span>
                                <h4 class="white">Email</h4>
                                <span class="grey">i.loozano97@gmail.com</span>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </section>
        <!-- End Get Connected -->

        <!-- Start Footer 1 -->
        <footer id="footer">

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <p>© 2018 Isaac Lozano Osorio. All Rights Reserved. </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul id="social-icons">
                                <li><a target="_blank" href="https://github.com/isaaclo97"><i class="icon ion-social-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/isaac.lozanoosorio"><i class="icon ion-social-facebook"></i></a></li>
                                <li><a target="_blank" href="https://github.com/isaaclo97"><i class="icon ion-social-octocat"></i></a></li>
                                <li><a target="_blank" href="mailto:i.loozano97@gmail.com"><i class="icon ion-android-drafts"></i></a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Footer Copyright -->

        </footer>
        <!-- End Footer 1 -->

        <!-- Start Back To Top -->
        <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
        <!-- End Back To Top -->

    </div>
    <!-- End Site Wrapper -->

    <!-- jQuery -->
    <script src="js/plugins/jquery.min.js"></script>
    <script src="js/plugins/moderniz.min.js"></script>
    <script src="js/plugins/smoothscroll.min.js"></script>
    <script src="js/plugins/revslider.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/waypoints.min.js"></script>
    <script src="js/plugins/parallax.min.js"></script>
    <script src="js/plugins/easign1.3.min.js"></script>
    <script src="js/plugins/cubeportfolio.min.js"></script>
    <script src="js/plugins/owlcarousel.min.js"></script>
    <script src="js/plugins/wow.min.js"></script>
    <script src="js/plugins/counterup.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/bars.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
     <script type="text/javascript" charset="UTF-8" src="load.js"></script>
    
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-69918439-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!--Start Cookie Script-->
    <script type="text/javascript" charset="UTF-8" src="https://cookie-script.com/s/eccbdbc38f31ea25d1b3265195902907.js"></script>
    <!--End Cookie Script-->

</body>

</html>